<ion-header>
  <ion-toolbar>
    <ion-title color="success">Chat con {{ nombreVendedor }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="messages-container">
    <div *ngFor="let msg of mensajes" class="message" [class.own]="msg.sender === nombreUsuario">
      <strong>{{ msg.sender }}:</strong> {{ msg.text }}
    </div>
  </div>

  <ion-footer>
    <ion-item>
      <ion-input [(ngModel)]="nuevoMensaje" placeholder="Escribe un mensaje..."></ion-input>
      <ion-button slot="end" (click)="enviarMensaje()" color="success">Enviar</ion-button>
    </ion-item>
  </ion-footer>
</ion-content>
