<ion-content class="login-content" style="display: flex; justify-content: center; align-items: center; height: 100vh;">

  <div class="login-container" style="text-align: center; padding: 20px;">
    <ion-img src="https://cdn3d.iconscout.com/3d/premium/thumb/nino-jugando-juegos-en-linea-8156166-6594658.png?f=webp" class="logo-img" style="width: 100px; height: 100px; margin-bottom: 20px;"></ion-img>
    <h1 class="brand-title">TechMarket</h1>

    <div class="welcome-text"><strong>¡Bienvenid&#64;, amante de la tecnología y las computadoras! 💻✨</strong></div>
    <p class="description-text">
      Completa todos los campos para iniciar sesión y adéntrate en el universo de los periféricos gamer, donde cada detalle potencia tu experiencia.
    </p>

    <ion-input label="Correo electrónico" type="email" placeholder="correo@ejemplo.com" fill="outline" style="margin-bottom: 15px;"></ion-input>
    <ion-input label="Contraseña" type="password" placeholder="••••••••" fill="outline" style="margin-bottom: 15px;"></ion-input>

    <ion-button expand="block" color="success" class="login-btn" [routerLink]="['/home']">Iniciar Sesión</ion-button>
    <ion-button expand="block" color="tertiary" class="login-btn" [routerLink]="['/registro']">Registrarse</ion-button>
  </div>
  
</ion-content>
