<ion-content class="login-content">
  <div class="login-wrapper">

    <!-- Panel visual izquierdo -->
    <div class="login-side-panel">
      <img src="https://play-lh.googleusercontent.com/rCc1T9PFomPVLTeHgT-pIRBHco7a9UACNQOy-DQ8io-YjGXTveRm2PHqbzfhYWw6eoHI"
           alt="Logo" class="logo-img" />
      <h2>¡Bienvenido a TechMarket!</h2>
      <p>Donde uno puede vender y intercambiar tus perifericos</p>
      <ion-button fill="outline" color="light" [routerLink]="['/registro']">REGISTRARSE</ion-button>
    </div>

    <!-- Panel del formulario -->
    <div class="login-form-panel">
      <h1 class="brand-title">TechMarket</h1>
      <p class="slogan">💻 Tu mercado gamer de confianza ✨</p>

      <!-- Correo -->
      <ion-item lines="none" class="input-item">
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="email" [(ngModel)]="correo"></ion-input>
      </ion-item>

      <!-- Contraseña -->
      <ion-item lines="none" class="input-item">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [type]="verPassword ? 'text' : 'password'" [(ngModel)]="clave"></ion-input>
        <ion-icon name="eye-outline"
                  slot="end"
                  (click)="toggleVerPassword()"
                  class="eye-icon">
        </ion-icon>
      </ion-item>

      <!-- Botones -->
      <ion-button expand="block" color="success" (click)="login()">INICIAR SESIÓN</ion-button>
      <ion-button expand="block" color="danger" (click)="loginConGoogle()">INICIAR SESIÓN CON GOOGLE</ion-button>
      <!--<ion-button expand="block" color="tertiary" [routerLink]="['/registro']">REGISTRARSE</ion-button>-->

      <div class="extra-links">
        <a [routerLink]="['/recuperar-clave']">¿Olvidaste tu contraseña?</a>
        <a [routerLink]="['/admin-login']">Intranet</a>
      </div>

      <!-- Error -->
      <ion-text color="danger" *ngIf="error">{{ error }}</ion-text>
    </div>
  </div>
</ion-content>
