<ion-content class="login-content" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <div class="login-container" style="text-align: center; padding: 20px; width: 100%;">
    <ion-img
      src="https://play-lh.googleusercontent.com/rCc1T9PFomPVLTeHgT-pIRBHco7a9UACNQOy-DQ8io-YjGXTveRm2PHqbzfhYWw6eoHI"
      class="logo-img"
      style="width: 100px; height: 100px; margin-bottom: 20px;">
    </ion-img>

    <h1 class="brand-title">TechMarket</h1>

    <div class="welcome-text">
      <strong>¡Bienvenid&#64;, amante de la tecnología y las computadoras! 💻✨</strong>
    </div>

    <p class="description-text">
      Completa todos los campos para iniciar sesión y adéntrate en el universo de los periféricos gamer, donde cada detalle potencia tu experiencia.
    </p>

    <!-- Campo Usuario -->
    <!-- Campo Correo -->
<ion-item>
  <ion-label position="floating">Correo</ion-label>
  <ion-input [(ngModel)]="correo" type="email"></ion-input>
</ion-item>


    <!-- Campo Contraseña con toggle de visibilidad -->
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input
        [(ngModel)]="clave"
        [type]="verPassword ? 'text' : 'password'">
      </ion-input>
      <img
        src="https://cdn-icons-png.freepik.com/512/6047/6047356.png"
        alt="Ver contraseña"
        (click)="toggleVerPassword()"
        style="width: 24px; height: 24px; margin-left: 8px; cursor: pointer;" />
    </ion-item>

    <!-- Botón para iniciar sesión -->
    <ion-button expand="block" color="success" class="login-btn" (click)="login()">
      Iniciar Sesión
    </ion-button>

    <ion-button expand="block" color="danger" class="login-btn" (click)="loginConGoogle()">
      Iniciar sesión con Google
    </ion-button>

    <!-- Botón para registro -->
    <ion-button expand="block" color="tertiary" class="login-btn" [routerLink]="['/registro']">
      Registrarse
    </ion-button>

    <ion-button expand="block" fill="clear" color="success" [routerLink]="['/recuperar-clave']">
  ¿Olvidaste tu contraseña?
</ion-button>
<ion-button expand="block" fill="clear" color="success" [routerLink]="['/admin-login']">
  Intranet 
</ion-button>

    <!-- Mensaje de error -->
    <ion-text color="danger" *ngIf="error" style="display: block; margin-top: 10px;">
      {{ error }}
    </ion-text>
  </div>
</ion-content>